/**
 * General style rules
 */

#disqus_thread {
    margin-bottom: 10px;
}

.dsq-brlink {
    font-size: 10px;
}

.logo-disqus {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

#dsq-content .dsq-alert-message {
    background-color:#FDF1D0;
    border:1px solid #FAD163;
    line-height: 1.25;
    padding: 5px 8px;
    color: #817134;
    margin: 10px 0;
}

#dsq-content .dsq-alert-message a {
    color: #516361;
}

#dsq-content .dsq-alert-message.dsq-error {
    background-color: #FCA09A;
    border-color: #90040B;
    color: #341922;
}

#dsq-content .dsq-alert-message.dsq-error a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 115%;
}

#dsq-content iframe,
#dsq-popup-alert iframe {
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    *overflow-x: visible;
    width: 100%;
    background-color: transparent;

    /* Set in thread.js

    height: {{ iframe_height }}px;
    width: 0px; (if IE7) */
}

#dsq-content iframe.dsq-post-reply,
#dsq-popup-alert iframe.dsq-post-reply {
    height: 300px;
}

#dsq-content iframe.dsq-post-reply-authenticated,
#dsq-popup-alert iframe.dsq-post-reply-authenticated {
    height: 170px;
}


#dsq-content #dsq-comments .dsq-header-avatar .dsq-drop-profile {
    color: #333;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    left: 0px;
    position: relative;
    background: #f0f0f0;
    z-index: 2;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    display: none;
    min-width: 64px;

    /* IE6 */
    _position: absolute;
    _z-index: 9000;

    /* Set in thread.js
    top: 30px; (if not integration.show_avatar)
    _top: {{ integration.avatar_size }}px; (if IE6) */
}

#dsq-content #dsq-comments .dsq-header-avatar img {
    /* Set in thread.js
    display: none; (if not integration.show_avatar) */
}


/**
 * Popup
 */

.dsq-overlay {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background-color:#000;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.dsq-overlay[id] {
    position:fixed;
}

.dsq-popup h4,
.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol,
.dsq-popup div,
.dsq-popup table,
.dsq-popup td,
.dsq-popup th,
.dsq-popup p,
.dsq-popup a,
.dsq-popup cite,
.dsq-popup img {
    border: 0;
    padding: 0;
    margin: 0;
    float: none;
    text-indent: 0;
    background: none;
}

.dsq-popup table {
    border-collapse: separate;
    border-spacing: 0;
}

.dsq-popup {
    font-size: 13px;
    color: #333;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.dsq-popup p {
    margin-bottom: 8px;
}

.dsq-popup[id] {
    position: fixed;
}

.dsq-popup img {
    max-width: none;
}

.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol {
    list-style-type: none;
    list-style-image: none;
    background: none;
    display: block;
}

.dsq-popup li:before {
    content: "";
}

.dsq-popup p,
.dsq-popup ul {
    color: #333;
    line-height: 1.22em;
}

.dsq-popup a {
    color: #1C5392;
}

.dsq-popup a:hover {
    color: #869AAD;
}

.dsq-popup .dsq-popup-top {
    position: relative;
    text-align: right;
    width: 520px;
    height: 20px;
    background: transparent url("/images/embed/popup-top.png") no-repeat;
}

.dsq-popup .dsq-popup-top img {
    margin: 12px 13px 0 0;
    *margin: 12px 13px 0 0;
}

.dsq-popup .dsq-popup-bottom {
    text-align: right;
    width: 520px;
    height: 20px;
    background: transparent url("/images/embed/popup-bottom.png") no-repeat;
}

.dsq-popup .powered-by{
    font-size: 90%;
    text-align: right;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.dsq-popup .dsq-popup-body div.powered-by a {
    color: #888;
    text-decoration:none;
}

.dsq-popup  .dsq-popup-body {
    width: 520px;
    background: transparent url("/images/embed/popup-body.png") repeat-y;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link {
    color: #7aa5d5;
    position: absolute;
    top: -8px;
    right: 5px;
    text-decoration: none;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link img {
    width: 23px;
    height: 24px;
    border: 0;
}

.dsq-popup .dsq-subscribe-submit {
    margin: 0 auto;
    padding: 0 10px;
    color: #222;
}

.dsq-popup .dsq-subscribe-submit input {
    font-size: 110%;
    width: 200px;
}

.dsq-popup p.dsq-popup-notice {
    padding: 5px;
    margin: 20px 0 0 0;
    background-color: #fdf1d0;
    border: 1px solid #fad163;
}

/**
 * New popup
 */

.dsq-popup .dsq-popup-container {
    position: relative;
}

.dsq-popup-container .dsq-popup-b {
    background:url("/images/facebox/b.png");
}

.dsq-popup-container .dsq-popup-tl {
    background:url("/images/facebox/tl.png");
}

.dsq-popup-container .dsq-popup-tr {
    background:url("/images/facebox/tr.png");
}

.dsq-popup-container .dsq-popup-bl {
    background:url("/images/facebox/bl.png");
}

.dsq-popup-container .dsq-popup-br {
    background:url("/images/facebox/br.png");
}

.dsq-popup-container table {
    border-collapse: collapse;
}

.dsq-popup-container td {
    border-bottom: 0;
    padding: 0;
}

.dsq-popup-container .dsq-popup-body {
    padding: 10px;
    background: #fff;
    width: 370px;
}

.dsq-popup-container .dsq-popup-tl, .dsq-popup-container .dsq-popup-tr, .dsq-popup-container .dsq-popup-bl, .dsq-popup-container .dsq-popup-br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
}

.dsq-popup-container .dsq-popup-title {
    position: static;
    text-align: left;
    background: none;
    height: auto;
    width: auto;
    background-color: #E5EBED;
    margin: -10px -10px 10px;
    padding: 10px;
    border-bottom: 1px solid #2F414B;
}

.dsq-popup-container .dsq-popup-title img {
    margin: 0;
}

.dsq-popup-container .dsq-popup-title h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.dsq-popup-container h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


/**
 * Popup : Blacklist
 */
.dsq-popup .dsq-blacklist-option {
    padding: 5px 10px;
    border-bottom: 1px dotted #E5EBED;
}


/**
 * Popup : Help
 */
.dsq-popup ul.dsq-popup-help {
    margin: 0 10px;
}

#dsq-popup-message.dsq-popup ul.dsq-popup-help li {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #E5EBED;
}

.dsq-popup ul.dsq-popup-help li.dsq-help-otheraccts {
    font-weight: bold;
    font-size: 110%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#dsq-popup-message ul.dsq-list-tick li {
    list-style: none inside url("/images/tick.png") !important;
    display: list-item;
}

#dsq-popup-message ul.dsq-list-bluebullet li {
    list-style: none inside url("/images/bullet_blue.png");
    display: list-item;
}

#dsq-popup-message li {
    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px dotted #E5EBED;
}

#dsq-popup-message li li {
    padding-left: 10px;
}


/**
 * Popup : Login
 */
.dsq-popup iframe#dsq-popup-login {
    margin-top: 10px;
    height:310px;
    width: 100%;
}

.dsq-popup-login .dsq-popup-content {
    width: 420px;
}


/**
 * Popup : Remote Account Settings
 */
.dsq-popup iframe#dsq-popup-account-settings {
    width: 100%;
    height: 400px;
}

.dsq-popup-account-settings .dsq-popup-content {
    width: 500px;
}


/**
 * Popup : Lightbox : Authenticate
 */
.dsq-lightbox .dsq-popup-content {
    width: 550px;
}

.dsq-lightbox .powered-by {
    display: none;
}

.dsq-lightbox img {
    border: 0 !important;
    height: auto !important;
    width: auto !important;
}

.dsq-lightbox .dsq-lightbox-register-reasons {
    padding: 0 10px !important;
}

.dsq-lightbox .dsq-lightbox-register-reasons li {
    background: url("/images/small-tick.png") no-repeat;
    padding-left: 12px !important;
    margin: 0 0 0 6px !important;
    display: inline !important;
    font-size: 11px !important;
    color: #555;
}

.dsq-lightbox .dsq-lightbox-register-reasons li img {
    margin-bottom: -1px !important;
}

.dsq-lightbox .dsq-lightbox-submit {
    height: 1%;
    overflow: auto;
    padding: 0 5px;
    margin-top: 20px;
}

.dsq-lightbox .dsq-lightbox-auth-post {
    float: right;
    padding: 4px;
    background-color: #EAFFCD;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radisu: 4px;
}

.dsq-lightbox .dsq-lightbox-auth-skip {
    float: left;
    margin-top: 5px;
    padding: 2px;
}

.dsq-lightbox .dsq-lightbox-switch-auth {
    width: 400px;
    font-size: 11px;
    text-align: right;
    margin: 0 auto;
}

.dsq-lightbox .dsq-lightbox-auth-fields table {
    padding: 8px;
    background-color: #EDFFC9;
    border: 1px solid #A5C469;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 400px;
    margin: 10px auto;
}

.dsq-lightbox .dsq-lightbox-auth-fields table td {
    padding: 4px;
}

.dsq-lightbox .errorlist {
    color: #c03000 !important;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.dsq-lightbox .errorlist li {
    margin: 5px 0 !important;
    padding: 0 !important;
}

.dsq-lightbox-errors p {
    color: #c03000 !important;
    font-size: 11px;
    font-weight: bold;
}

.dsq-lightbox .dsq-lightbox-auth-fields table td input {
    font-size: 13px;
    padding: 2px;
}

.dsq-lightbox-recognized table {
    width: 400px;
    margin: 10px auto;
}

.dsq-lightbox-recognized table td {
    padding: 4px;
}


/*
 * Popup : Profile
 */

.dsq-popup-profile .dsq-popup-content {
    width: 500px;
}

.dsq-popup-profile .dsq-popup-title {
    height: 1%;
    overflow: auto;
}

.dsq-popup-profile .dsq-popup-title td {
    vertical-align: top;
}

.dsq-popup-profile .dsq-popup-title img.dsq-popup-profile-avatar {
    width: 48px;
    height: 48px;
}

.dsq-popup-profile .dsq-popup-profile-user {
    padding: 0 10px;
}

.dsq-popup-profile .dsq-popup-profile-user h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.dsq-popup-profile .dsq-popup-profile-user-stats span {
    margin-right: 10px;
}

.dsq-popup-profile .dsq-popup-profile-user-stats big {
    font-weight: bold;
    font-size: 16px;
}

.dsq-popup-profile .dsq-popup-profile-state {
    clear: both;
    padding: 15px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aaa;
    height: auto;
    overflow: hidden;
    margin: -10px -10px 0px;
    border-bottom: 1px solid #B2B2B2;
}

.dsq-popup-profile .dsq-popup-profile-status {
    padding: 10px;
    margin: 0 -10px 0;
    background-color: #EEF9FD;
    border-bottom: 1px solid #9FCDE3;
}

.dsq-popup-profile .dsq-popup-profile-snapshot {
    padding: 15px 0;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table {
    width: 100%;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td {
    width: 50%;
    vertical-align: top;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td h4 {
    margin-bottom: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul {
    margin-bottom: 15px;
    max-height: 200px;
    overflow: auto;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul img {
    vertical-align: text-top;
    margin-right: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li {
    margin-bottom: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li a {
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.dsq-popup .dsq-popup-body div.show-more {
    padding-left: 10px;
    font-size: 95%;
    color:#7aa5d5;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding {
    padding: 0 10px;
    font-size: 13px;
}

.dsq-popup .dsq-popup-body .dsq-popup-header {
    background-color: #e5ebed;
    padding: 0 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #445460;
}

.dsq-popup .dsq-popup-body .dsq-popup-header img {
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    margin-left: 5px;
    font-style: normal;
    vertical-align: middle;
}

.dsq-popup .dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    position: static;
    margin: 0;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite span {
    font-weight: bold;
    font-size: 150%;
    font-style: normal;
    margin-right: 10px;
    vertical-align: middle;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding .dsq-popuplink {
    margin: 0 0 0 5px;
    font-size: 90%;
}

.dsq-popup .dsq-clout {
    float: left;
    width: 72px;
    height: 32px;
    line-height: 32px;
    background: url("/images/embed/clout-background.png") no-repeat top left;
}

.dsq-popup .dsq-clout.unverified {
    background: url("/images/embed/unverified-background.png") no-repeat top left;
    line-height: 24px;
}

.dsq-popup .dsq-clout a{
    float: left;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.dsq-popup .dsq-clout.unverified a{
    font-size: 11px;
    font-weight: normal;
}

.dsq-popup .dsq-clout a:hover {
    color: #fff;
}

.dsq-popup .dsq-profile-services {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aaa;
    height: auto;
    overflow: hidden;
}

.dsq-popup .dsq-profile-services .dsq-profile-userlvl {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.dsq-popup .dsq-profile-services span.dsq-profile-ontheweb {
    float: left;
    font-family: Trebuchet MS, Trebuchet, Verdana, sans-serif;
    font-size: 95%;
    color: #aaa;
}

.dsq-popup .dsq-profile-services ul {
    margin-left: 15px;
    display: inline;
}

.dsq-popup .dsq-profile-services ul li {
    display: inline;
    margin-right: 15px;
}

.dsq-popup .dsq-profile-services ul li.dsq-service-labeltxt {
    margin: 0;
}

.dsq-popup .dsq-profile-services span.dsq-services-description {
    font-size: 85%;
    color: #555;
    position: absolute;
    top: 25px;
    left: 5px;
    display: none;
    white-space: nowrap;
}

.dsq-popup .dsq-profile-services img {
    border:2px solid #fff;
}

.dsq-popup a.dsq-profile-follow {
    color:#7aa5d5;
}

.dsq-popup .dsq-profile-status,
.dsq-popup .dsq-profile-recentcomments {
    clear: both;
    padding: 10px;
}

.dsq-popup .dsq-profile-status p,
.dsq-popup .dsq-profile-recentcomments p{
    padding: 0;
}

.dsq-popup .dsq-profile-status h4,
.dsq-popup .dsq-profile-recentcomments h4 {
    font-size: 110%;
    border-bottom: 2px solid #D7DBDD;
    margin-bottom: 10px;
}

.dsq-popup .dsq-profile-status h4 span,
.dsq-popup .dsq-profile-recentcomments h4 span {
    background-color: #D7DBDD;
    padding: 2px 5px;
    color: #555;
    font-weight: bold;
}

.dsq-popup p.dsq-profile-label {
    font-family: Trebuchet MS, Trebuchet, Verdana, sans-serif;
    font-size: 95%;
    color: #aaa;
}

.dsq-popup ul.dsq-profile-commentlist {
    margin-top: 10px;
}

.dsq-popup .dsq-profile-commentlist li{
    padding: 5px 0;
    border-bottom: 2px solid #e9ebed;
}

.dsq-popup .dsq-profile-commentlist li img.avatar-small {
    width: 24px;
    height: 24px;
    border: 1px solid #DDD;
    float: left;
}

.dsq-popup .dsq-profile-commentlist li .comment-message {
    margin-left: 30px !important;
    *float: left !important;
    *margin-left: 5px !important;
}

.dsq-popup .dsq-profile-commentlist li span.comment-meta {
    clear: both !important;
    margin-left: 30px !important;
    display: block !important;
    font-size: 90% !important;
    background: none !important;
    float: none !important;
    width: auto !important;
}

.dsq-popup .dsq-profile-commentlist span{
    color: #666;
    font-size: 95%;
}


/**
 * Menu
 */

.dsq-menu {
    margin: 0 !important;
    left: 0px;
    position: absolute;
    _position: absolute;
    _left:;
    background: #f0f0f0 !important;
    z-index: 2 !important;
    border-width: 1px !important;
    border-color: #888 !important;
    border-style: solid !important;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    display: inline;
    padding: 5px 10px 5px 0 !important;
    list-style: none !important;
}

.dsq-menu li {
    margin: 0 !important;
    padding: 0 !important;
    clear: both;
    line-height: 1.3em !important;
    font-size: 12px !important;
    margin-bottom: 2px !important;
    margin-left: 4px !important;
    white-space: nowrap !important;
    list-style: none !important;
    float: none;
    background: none;
    text-align: left;
}

.dsq-menu li:before {
    content: "";
}

.dsq-menu li a.dsq-admin-toggle {
    font-weight: bold;
}

.dsq-menu li.dsq-admin-email,
.dsq-menu li.dsq-admin-ip {
    color: #555;
    font-style: italic;
    cursor: default;
}

.dsq-menu li.dsq-menu-sep {
    border-bottom: 1px dotted #aaa;
    font-size: 1pt !important;
}

.dsq-menu li a{
    text-decoration: none;
    color: #333;
}

.dsq-menu li a:hover {
    color: #869AAD;
}


/**
 * Media embed
 */

.dsq-popup.dsq-media-embed img {
    max-width: 500px;
    max-height: 500px;
}

#dsq-content .dsq-media-embed h4 {
    margin-top: 10px;
    background: transparent url('/images/themes/narcissus/gray-50.png') repeat-x scroll center top;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 9px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
}

#dsq-content .dsq-media-embed a {
    margin-right: 5px;
}


/**
 * Drop profile
 */

#dsq-content #dsq-comments .dsq-header-avatar:hover .dsq-drop-profile {
    display: inline;
}

#dsq-content #dsq-comments .dsq-drop-profile li {
    float: none;
    clear: both;
    line-height: 1.3em;
    padding: 2px 4px;
    white-space: nowrap;
    margin: 0px;
}

#dsq-content #dsq-comments .dsq-drop-profile li img {
    float: none;
    height: 12px;
    width: 12px;
    margin: 0px 4px 0px 0;
    vertical-align: middle;
    padding: 0px;
}

#dsq-content #dsq-comments .dsq-drop-profile li a {
    color: #1C5392;
    vertical-align: middle;
}

#dsq-content #dsq-comments .dsq-drop-profile li a:hover {
    font-weight: bold;
}


#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services {
    height: 16px;
    padding: 4px 4px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services:hover {
    background-color: #ddd;
    outline-top: 1px solid #ccc;
    outline-bottom: 1px solid #ccc;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services a {
    display: block;
    width: 100%;
    height: 16px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-sep {
    border-bottom: 1px dotted #aaa;
}


#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-showlnk {
    padding: 4px 2px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: 16px;
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-top-right-radius: 5px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-showlnk a {
    font-weight: bold;
    font-size: 95%;
    display: block;
    width: 100%;
    height: 16px;
}


#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-badge {
    padding: 6px 2px;
    text-align: center;
    font-size: 95%;
    cursor: help;
    border-bottom: 1px solid #ddd;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-badge span {
    padding: 1px 3px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more {
    height:16px;
    background: url("/images/drop-more.gif");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more:hover {
    background-position: 0px -20px;
    border-top: 1px solid #ccc;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more a {
    font-size: 95%;
    height: 16px;
    width: 100%;
    display: block;
}


#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-hidden {
    display: none;
    padding: 0;
}


/*
 * Pagination
 */

#dsq-content .dsq-paginate-append-text { display: none; }
#dsq-content .dsq-paginate-all-button { display: none; }
#dsq-content .dsq-paginate-append-button { display: inline; }
