body { background: #e9e9e9; margin: 0; font-family: sans-serif; }
#wrapper { width: 975px; margin: 0 auto; height: auto; }
#content { width: 635px; float: left; background: #fff; min-height: 600px; padding: 30px 25px; padding-right: 30px; }
#nav { width: 285px; float: left; color: #666; background: #e9e9e9; }
#nav-links { padding: 0; margin: 0; list-style: none; margin-bottom: 25px; }

#nav-links li { padding: 0; margin: 0; }
#nav-links a:link, #nav-links a:visited { display: block; width: 259px; padding: 10px; text-decoration: none; color: #f7f7f7; margin-bottom: 1px; }
#nav-links a:hover { color: #fff; background: #000; }

#content #title { display: block; text-decoration: none; border-bottom: 0; height: 74px; background: url('images/logo.png') no-repeat; border-bottom: 1px dotted #ddd; }
#content h1, #content h2, #content h3 { margin-bottom: 0px; }
#content h1 { color: #525252; line-height: 1em; }
#content h2 { color: #585858; }
#content h3 { color: #5A5A5A; }
#content a:link, #content a:visited { color: #0098d1; text-decoration: none; border-bottom: 1px dotted #0098d1; }
#content a:hover { color: #00baff; border-bottom: 1px dotted #00baff; }
#content .meta p { font-size: 0.8em; color: #999; margin: 0; }
#content .meta a:link, #content .meta a:visited { border-bottom: 0; }
#content p { color: #555; text-align: left; line-height: 1.45em; }
#content ul, #content ol { color: #555; text-align: left; line-height: 1.25em; }
#content p strong { color: #333; }
#content ul li strong, #content ol li strong { color: #333; }
#content p img { padding: 10px; border: 0; }
#content p img.border { border: 1px dotted #aaa; }
#content tt { background: #eee; padding: 2px 4px; position: relative; top: -1px; font-size: 0.95em; font-family: monospace; }
#content blockquote { background: url('images/quote.png') no-repeat; padding: 0px 43px; margin-left: 15px; color: #888; text-align: left; font-style: normal; }
#content pre { background: #333; color: #d9d9d9; padding: 9px; padding-left: 20px; font-family: monospace; font-size: 0.95em; overflow-x: auto; }
#content pre strong { font-weight: normal; color: #fff; }
#content pre a:link, #content pre a:visited { border: 0; }
#copyright { margin-top: 10px; padding-top: 25px; font-size: 0.7em; text-align: center; color: #999; border-top: 1px solid #eee; }
#copyright small { color: #aaa; font-style: oblique; }

#nav h2 { font-size: 1em; margin: 0; padding: 0; width: 260px; padding: 6px 15px; text-decoration: none; background: #333; color: #f7f7f7; font-weight: normal; position: relative; left: -5px; }
#nav p { padding: 6px 15px; color: #666; margin: 0; }
#nav strong { font-weight: 500; color: #333; }
#nav .section { width: 285px; padding-bottom: 10px; font-size: 0.9em; }
#nav a:link, #nav a:visited { text-decoration: none; color: #0098d1; border: 0; }
#nav .section ul { list-style: none; padding: 12px; padding-top: 0; margin: 0; margin-top: 10px; }
#nav .section li { padding: 6px 12px; background: #f5f5f5; margin: 0; margin-bottom: 12px; }
#nav .section.articles li { padding: 0; display: inline; }
#nav .section li a:link, #nav .section li a:visited { display: block; background: #f5f5f5; margin-bottom: 10px; padding: 6px 12px; text-decoration: none; color: #0098d1; border: 0; }
#nav .section li a:hover { background: #333; }
#nav .section.articles h2 a.rss{ font-size: 0.9em; }
#nav .section.articles h2 .title { float: left; display: block; width: 100px; height: 28px; }
#nav .section.articles h2 a.rss:link, #nav .section.articles h2 a.rss:visited { float: right; text-align: center; width: 55px; display: block; background: #0098d1; padding: 3px 5px; color: #fff; position: relative; top: -3px; left: 12px; }
#nav .section.articles h2 a.rss:hover { background: #20b8f1; }
#nav .section.twitter h2 a.follow { font-size: 0.9em; }
#nav .section.twitter h2 .title { float: left; display: block; width: 100px; height: 28px; }
#nav .section.twitter h2 a.follow:link, #nav .section.twitter h2 a.follow:visited { float: right; text-align: center; width: 55px; display: block; background: #0098d1; padding: 3px 5px; color: #fff; position: relative; top: -3px; left: 12px; }
#nav .section.twitter h2 a.follow:hover { background: #20b8f1; }
#nav .section.twitter ul a { display: inline; background: transparent; padding: 0; }
#nav .section.twitter li { font-size: 0.9em; }
#nav .section.twitter li small { font-size: 0.8em; color: #aaa; }
#nav .section.twitter li small a:link, #nav .section.twitter li small a:visited { color: #36a7d1; }
#nav .section.twitter li small a:hover { color: #0098d1; }
#nav .section.ads { margin: 0 auto; width: 180px; }

#nav .section.about img { padding-left: 10px; }

#content pre.applescript { font-family: Verdana, sans-serif; font-size: 12px; background: #fff; }
#content pre.applescript .recword { color: #320BFF; }
#content pre.applescript .var { color: #1D8C12; }
#content pre.applescript .keyword { color: #4200FF; font-weight: bold; }
#content p.update { border-top: 1px solid #ddd; margin-top: 1.5em; padding-top: 1.5em; }
#content code.dark, #content pre.dark { background: #222; color: #eee; border-left-color: #444; }

.alignleft { float: left; }
.alignright { float: right; }
#content .navigation { margin: 15px 0; }
#content .navigation a:link, #content .navigation a:visited { font-size: 0.8em; display: block; border: 1px solid #0098d1; padding: 4px; width: 40px; text-align: center; background: #fff; }

#content .articles { padding: 0; margin: 15px 0; list-style: none; margin-bottom: 25px; }
#content .articles li { margin-top: 5px; }
#content .articles li small { color: #bbb; font-size: 0.7em; }
#content .articles li a:link, #content .articles li a:visited { border-bottom-style: solid; }
#content .writings { padding: 4px 0px; background: #fff; margin-top: 15px; }
#content .writings h1 { padding-top: 0; margin-top: 5px; }
#content .latest h2 { margin-bottom: 5px; border: 1px dashed #0098d1; padding: 12px; }
#content .latest h2 a { border: 0; }

.twitterapp.loading { min-height: 40px; background: url('images/loading.gif') no-repeat; background-position: center center; }

#wrapper.wide { background: #f9f9f9; }
#wrapper.wide #nav { background: #f9f9f9; width: 455px; }
#wrapper.wide #content { width: 465px; }
#wrapper.wide #nav-links { width: 429px; }
#wrapper.wide #nav h2 { width: 425px; left: 0; }
#wrapper.wide #nav .section { width: 455px; }
#wrapper.wide #nav .section.about p { height: 70px; }
#wrapper.wide #nav .section.twitter li { padding-left: 0; font-size: 1.1em; background: transparent; }

.note { border-right: #ccc 1px solid; padding-right: 7px; border-top: #ccc 1px solid; padding-left: 7px; font-size: 0.8em; background: #eee; padding-bottom: 7px; border-left: #ccc 1px solid; padding-top: 7px; border-bottom: #ccc 1px solid; }

/* Github Ruby syntax colours */
#content pre.ruby { background: #fff; color: #111; border: 1px solid #ccc; }
#content pre strong { font-weight: bold; color: #000; }
pre.ruby .keyword    { font-weight: bold;  }
pre.ruby .class      { color:#445588; 
                    font-weight: bold;  }
pre.ruby .method     { color:#990000; 
                    font-weight:bold;   }
pre.ruby .constant   { color: #177F80;     }
pre.ruby .global     { color: #177F80;     }
pre.ruby .punct      { color: #333;        }
pre.ruby .attribute  { color: #0086B3;     }
pre.ruby .comment    { color: #999988; 
                    font-style: italic; }
pre.ruby .regex      { color: #159828;     }
pre.ruby .string     { color:#D81745;      }
pre.ruby .expr       { color:#D81745;      }
pre.ruby .number     { color: #1C9898;     }
pre.ruby .symbol     { color: #960B73;     }
pre.ruby .pre-strong { font-weight: bold;  }
pre.ruby .escape     {                     }
pre.ruby .ident      {                     }

#content .multipage { border: 1px solid #bbb; padding: 12px; background: #e9e9e9; }

#content .gist-data pre { color: #000; font-family: 'Bitstream Vera Sans Mono','Courier', monospace; font-size: 0.8em; }
#content .gist-meta { font-size: 0.9em; font-family: sans-serif; }
#content .gist-meta a:link, #content .gist-meta a:visited { text-decoration: none; border: 0; }

hr { border-collapse: collapse; border: 0; border-top: 1px dotted #aaa; height: 1px; }
#content #disqus_thread a:link, #content #disqus_thread a:visited { border: 0; }
#content a:link.noborder, #content a:visited.noborder { border: 0; }

#content .talktome { padding: 6px 12px; border: 1px solid #ee8; background: #ffc; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #333; margin: 15px 0; margin-top: 30px; }
#content .talktome a:link, #content .talktome a:visited { border: 0; }

/* highlight.js */
pre .shebang, pre .comment, pre .template_comment, pre .javadoc { color: #aaa; }
pre .keyword, pre .tag, pre .ruby .function .keyword, pre .keymethods { color: #96CBFE; }
pre .function .keyword, pre .sub .keyword, pre .method, pre .list .title { color: #ccf; }
pre .string, pre .attribute .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date { color: #A8FF60; }
pre .subst { color: #DAEFA3; }
pre .regexp { color: #E9C062; }
pre .class .title, pre .constant, pre .inheritance .parent, pre .sub .identifier, pre .pi, pre .decorator, pre .ini .title { color: #bef; }
pre .function .title, pre .ftitle { color: #fff; font-weight: bold; }
pre .symbol, pre .symbol .string, pre .symbol .keymethods, pre .symbol .keyword { color: #ff5546; }
pre .smalltalk .class, pre .javadoctag, pre .phpdoc, pre .preprocessor, pre.yardoctag { color: #FFFFB6; }
pre .number, pre .variable, pre .vbscript, pre .literal { color: #abf; }
pre .css .keyword { color: #96CBFE; }
pre .css .rule .keyword, pre .css .id { color: #FFFFB6; }
pre .css .class { color: #FFF; }
pre .hexcolor { color: #C6C5FE; }
pre .number { color:#FF73FD; }